body {
  background-color: #DADADA;
}

.round_corners {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}

.logo {
  font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	text-decoration: none;
}

.sublogo {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.sidebar {
  margin: 10px;
  color: #424242;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  line-height: 145%;
  font-size: 10pt;
  font-variant: small-caps;
  text-transform: lowercase;
  
  :first-letter {
    text-transform: uppercase;
  }
  
  .title {
    font-family: Gill Sans, Verdana;
    font-size: 14px;
  	line-height: 14px;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-weight: bold;
  	color: #347235;
  }
  
  ul {
    list-style: none;
    display: block;
  }
}

.mainpanel {
  background-color: #EEE;
  opacity: .85;
}

div.spacer {
  height: 5em;
}

div.hspacer {
  height: 1em;
}

.firebrick {
  color: #800517;
}

.black {
  color: #222;
}

.no_underline {
  text-decoration: none;
}

.footer_grey {
  color: #999;
}

.inline_image {
  float: right;
}

.right {
  float: right;
}

.social-stuff {
  margin-top: 10px;
  
  iframe {
    float: right;
  }
}

ul.navbar {
  list-style: none;
  display: block;
  
  li {
    float: left;
    font-family: Gill Sans, Verdana;
    font-size: 11px;
  	line-height: 14px;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-weight: bold;
    
    a {
      text-decoration: none;
    }
  }
}

div.post_block {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  .post_title {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    color: #333;
    line-height: 90%;
    margin: .2em 0 .4em 0;
    letter-spacing: -2px;
  }
  .post_content {
    color: #222;
    font-size: 12px;
    margin: 5px;
    margin-bottom: 15px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    line-height: 20px;
  }
  .comments {
    background-color: #DDD;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    
    .field {
      margin-bottom: 10px;
    }
    .post_content {
      padding-bottom: 5px;
      border-bottom: 1px solid #999;
    }
    .comment_area {
      width: 535px;
    }
    span.post_footer {
      margin-left: 10px;
    }
  }
  .post_footer {
    font-size: 85%;
    letter-spacing: 1px;
    color: #888;
    font-size: 10px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 100;
    ul {
      list-style: none;
      display: block;
      margin: 0px;
      padding: 0px;
      
      li {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        
        a {
          text-decoration: none;
        }
      }
    }
  }
}