<% unless mobile_device? %>
  <span class="sublogo black">About <span class="firebrick">NathanielBarnes.com</span></span><br />
<% end %>
<p class="post_content">NathanielBarnes.com is my personal blog for the many things that interest me. You're going to see a fair bit of programming, some of it beginner, some of it advanced. I'm a never ending learner, so you'll see that I blog about things as I learn them, or as I feel they're relative to other people. You'll also see a fair amount of debunking information here. I am an insatiable skeptic, and am frequently asked to analyze various claims that people I know come across. So I'll put that up here for others to look at as well. Finally you'll see some personal posts pop up every so often. Family announcements, Fitness updates, or maybe just what games or books are tickling my fancy when I'm not developing.<br /><br />
I hope people enjoy it, but more than that I hope that some of this information helps other people in some way.</p>
