<span class="sublogo black">Contact Info:</span><br /><br />
<span class="sublogo black">Email: <span class="firebrick"><a href="mailto:nathaniel.r.barnes@gmail.com" class="firebrick no_underline">Nathaniel.R.Barnes[at]gmail.com</a></span></span><br />
<span class="sublogo black">GTalk: <span class="firebrick">KerianAmbrai[at]gmail.com</span></span><br />
<span class="sublogo black">Skype: <span class="firebrick"><a href="callto:Nathaniel.R.Barnes" class=" firebrick no_underline">Nathaniel.R.Barnes</a></span></span><br />