<div id="resume" class="resume">
  <p style="float: left;">313 S Myers St #2<br />Oceanside, CA 92054<br /><a href="http://github.com/NateBarnes" target="_blank">github.com/NateBarnes</a></p>
  <p class="right">Cell: (713)416-4591<br />Home: (760)913-7484<br /><a href="http://twitter.com/NathanielBarnes" target="_blank">@NathanielBarnes</a></p> 
  <br /><center><span class="sublogo">Nathaniel Barnes</span><br />
  <a href="mailto:Nathaniel.R.Barnes@gmail.com">Nathaniel.R.Barnes[at]gmail.com</a></center><br />
  <br />
  <center><b>Senior Software Engineer</b><br />
  Expertise in Ruby Application Development • Innovative or Unusual Customers<br /></center>
  <br />
  Multiple Awarded, deeply driven information technology professional proven in the corporate battlefield and the military battlefield. Successful in a variety of environments from small scale application development to creating large multi-tiered applications used by multiple agencies across the intelligence community. A highly adaptive person, shown to learn new technologies quickly, and evaluate their implementation into current projects. Thrives in fast-paced environments, exceeding deadlines while delivering quality products and support to customers worldwide.<br />
  <br />
  Technology Snapshot: Ruby, Rails, Asterisk, Adhearsion, Java, Python, HTML, CSS, PHP, Javascript, SQL, Visual Basic<br />
  <hr />
  <center><b>Professional Development</b></center><br />
  <br />
  67th Network Warfare Wing (67 NWW), <i>San Antonio TX</i> ~ 2010 - Present<br />
  <b>Lead Developer</b><br />
  Worked as Lead Developer for an operational unit in pursuit of Air Force computer network operation (CNO) objectives. Lead a team of developers in the creation of tools and mission systems to fulfill national level intelligence agency imperatives.<br />
  <ul>
    <li>Lead the creation of architecture, prototyping, and development of a completely new mission system to fulfill a unique customer requirement.</li>
    <li>Trained the development team on Ruby, Rails, and other new technologies to enable faster and cleaner implementation of customer requirements.</li>
    <li>Completed the upgrade of a legacy C and Java mission system to ensure reliable mission completion. Closed out all outstanding bug reports accumulated on the mission system over the two years prior to my joining the team.</li>
    <li>Implemented Agile (SCRUM) development process to enable rapid response to changing customer requirements in an operational environment.</li>
  </ul>
  <br />
  Cyber Analysis Squadron, <i>San Antonio TX</i> ~ 2004-2010<br />
  <b>Software Engineer/Lead Developer</b><br />
  Served as a Software Engineer (and eventually the Lead Developer) for the AIR, IC2WNA, and USELMS applications, providing critical support to the intelligence community worldwide. Also served as Database Administrator for the Network Transformation Branch, overseeing 100% availability in accordance with customer needs.<br />
  <ul>
  <li>Developed multiple Java applications interfacing with those databases to provide real-time information to customers worldwide.</li>
  <li>After becoming Lead Developer, jobs pending against the projects were reduced by over 96%, bringing them all back on schedule.</li>
  <li>Performed a full upgrade of all production databases to newest versions of Oracle Database and Application Server.</li>
  <li>Implemented new backup and recovery system to ensure that all DBAs were trained in the event of an emergency.</li>
  <li>Trained 90% of the members of the branch on a variety of tasks necessary to further their development as Information Technology Professionals.</li>
  <li>Provided operational supervision to six other professionals, writing annual performance reports on one of them.</li>
  </ul>
  <br />
  Heavy Construction Systems Specialists Inc, <i>Houston TX</i> ~ 2002-2003<br />
  <b>Support Technician</b><br />
  Provided superior customer support to all of their customers worldwide. Quickly adapted to and utilized Visual Dataflex programming language, moving into programming for them while still providing support to customers.<br />
  <ul>
  <li>Functioned as an important member of the support team, supporting customers on a variety of platforms worldwide.</li>
  <li>Transitioned into a program testing role, isolating and correcting bugs in an efficient and timely manner.</li>
  </ul>
  <hr />
  <center><b>Education</b></center><br />
  <ul>
  <li>A.S. Computer Science, April 2009<br />
  Community College of the Air Force, San Antonio, TX</li>
  <li>A+ Certified</li>
  </ul>
  <hr />
  <center><b>Special Notes</b></center><br />
  <ul>
  <li>Currently holds a Top Secret/SCI Clearance</li>
  <li>Spoke at AdhearsionConf 2011 on wardialing in a telephony cloud: <a href="http://vimeo.com/33342840" target="_blank">Link</a></li>
  <li>Committer on OpenGovernment's GovKit Open Source Library</li>
  <li>Awarded the John L. Levitow Leadership Award in 2008</li>
  <li>Named the Air Force Sergeants Association Airman of the Year in 2006</li>
  <li>Named the Air Force Sergeants Association Webmaster of the Year for 2005</li>
  <li>Member of the Armed Forces Communications and Electronics Association and the Air Force Sergeants Association</li>
  </ul>
</div>