<div class="scroll">
  <ul>
    <% @posts.each do |post| %>
      <li class="arrow" href="<%=post_path(post)%>">
        <%= link_to post.title, post %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate @posts, :page_links => false, :style => "align: center;", :previous_label => "Previous", :next_label => "Next" %>
</div>
