<ul class="navbar">
  <li><%= mail_to "Nathaniel.R.Barnes@gmail.com", "Nathaniel.R.Barnes[at]gmail.com", :class => "footer_grey" %></li>
  <% if user_signed_in? %>
    <li><%= link_to "Logout", "users/sign_out", :class => "footer_grey" %></li>
  <% else %>
    <li><%= link_to "Login", "users/sign_in", :class => "footer_grey" %></li>
  <% end %>
  <li><%= link_to "Copyright Bullshit", "copyright", :class => "footer_grey" %>
</ul>