<ul class="navbar">
  <li><%= mail_to "Nathaniel.R.Barnes@gmail.com", "Nathaniel.R.Barnes[at]gmail.com", :class => "footer_grey" %></li>
  <li><%= link_to "Login", "login", :class => "footer_grey" %></li>
  <li><%= link_to "Copyright Bullshit", "copyright", :class => "footer_grey" %>
</ul>