<ul class="navbar">
  <li><%= link_to "Home", root_path, :class => "navbar black" %></li>
  <li><%= link_to "About", about_path, :class => "navbar black" %></li>
  <li><%= link_to "Contact", contact_path, :class => "navbar black" %></li>
  <li><%= link_to "Resume", resume_path, :class => "navbar firebrick" %></li>
</ul>